{% extends "base.html" %}

{% block title %} TWICE {% endblock %}


{% block contenido %}<br>
 
<br>
<br><a class="seg" href="https://twice.jype.com/Default/DiscographyView?AamSeq=176" target="_blank"><strong>BETWEEN</strong></a>
<br><a class="seg" href="https://twice.jype.com/Default/DiscographyView?AamSeq=176" target="_blank"><strong>1&amp;2</strong></a>
<br><a class="TTT" href="https://twice.jype.com/Default/DiscographyView?AamSeq=176" target="_blank"><strong>Talk hat Talk</strong></a>

<br>
<br><a class="noticias" href="https://twice.jype.com/Default/NoticeList" target="_blank"><strong>NOTICE</strong></a>
<br><a class="MV" href="https://twice.jype.com/Default/NoticeView?AnSeq=3879" target="_blank"><strong>TWICE 11TH MINI ALBUM</strong></a>
<br><a class="MV" href="https://twice.jype.com/Default/NoticeView?AnSeq=3879" target="_blank"><strong>"BETWEEN 1&2" M/V</strong></a>

<br>

<section class="buttons">
    
    <br><a href="https://web.facebook.com/JYPETWICE" class="fa fa-facebook "></a>
    <br><a href="https://twitter.com/JYPETWICE" class="fa fa-twitter"></a>
    <br><a href="https://instagram.com/twicetagram" class="fa fa-instagram"></a>
    <br><a href="https://www.youtube.com/c/twice" class="fa fa-youtube"></a>
    
</section>


<style>
    .cabezera{
      border-radius:10px;
    }
    .seg{
        color:aliceblue;
        font-family: "Montserrat", sans-serif; 
        font-display:initial;
        font-size: 60px;
        text-align:right;
    }
    .TTT{
        color:aliceblue;
        font-family: "Montserrat", sans-serif; 
        font-display:initial;
        font-size: 45px;
        text-align:right;
    }

    .noticias{
        color:aliceblue;
        font-family: "Montserrat", sans-serif; 
        font-display:initial;
        font-size: 25px;
        text-align:right;
    }
    .MV{
        color:aliceblue;
        font-family: "Montserrat", sans-serif; 
        font-display:initial;
        font-size: 15px;
        text-align:right;
    }
    .buttons{
    position:center;
    display:inline-block;
    padding: 30px 60px;
    color:white;
    letter-spacing: 0px;
    font-size:70px;
    text-decoration:underline;
    text-align: left;
    overflow: hidden;
    transition: 0.2s;
    }
    .buttons a{
        display:inline-block;
        text-decoration: none;
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background:rgb(237, 250, 250);
        color:rgb(0, 0, 0);
        border-radius: 50%;
        box-shadow: 4px 4px 12px #030303;
        transition: 0.4s;
    }
  
</style>

{% endblock %}