body{
    margin: 0;

}

video{
    position: fixed;

    min-width: 100%;
    min-height: 100%;

    z-index: -1;

    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%)

}

.Artistlogo_txt{
    position: absolute;
    top: 53px;
    left: 3%;
    z-index: 1;
    height: 43px;
}

.menu img, .menu_close img {
    width: 100%;
    z-index: 1111111111;
}

fieldset, img {
    border: 0 none;
}

img {
    -ms-interpolation-mode: bicubic;
}

.menu {
    position: absolute;
    top: 60px;
    right: 3%;
    z-index: 1111111111;
    display: inline-block;
    white-space:initial;
    width: 28px;
    height: 28px;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

body, button, input, select, textarea {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    color: #0c0c0c;
    
}

ul li a{
    color: antiquewhite;
}

main {
    width: 100%;
    height: 60px;
    color: #fff ;
    padding: 100px;
    font-family: "Montserrat", sans-serif; 
}

main h1 {
    width: 45px;
    height: 25px;
    display: inline-block;
    justify-content: flex-end;
    text-align: inherit;

}

.text-inherit{
    text-align: inherit;
}
.text-unset{
    text-align:overflow;
}
.redes{
    position: relative;
    height: 200px;
    padding: 30px;
}

.sociales{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;

}
.sociales li{
    display:inline-block;
}

.sociales a{
    padding: 5px;
}

.TWICE_COMEBACK {
    background: transparent;
    color: #0c0c0c;
    padding: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.tracklist {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 50px;
    min-height: 150px;
}

div .TWICE_COMEBACK, main P.text-unset {
    text-align: center;
}
